/* index.css or App.css */

/* html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
} */

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #000;
  /* overflow: scroll; */
  background: #f0f8ff;
  font-family: 'Segoe UI', sans-serif;
}
